@font-face {
  font-family: "Poppins";
  src: local("Poppins-Bold"),
    url("./fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "InterBold";
  src: local("Inter"),
    url("./fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
    url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

body {
  margin: 0 auto;
  background-color: #F5F5F5;
  font-family: "Inter";
}

/* .mantine-162lpqd {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.vacancy-description p {
  font-family: InterBold;
  font-weight: 700;
  font-size: 20px;
  margin: 0;

} */
